{% load bulma_tags %}

{% if field|is_checkbox %}
  {% include 'bulma/fields/checkbox.html' %}
{% elif field|is_radio %}
  {% include 'bulma/fields/radio.html' %}
{% elif field|is_input %}
  {% include 'bulma/fields/input.html' %}
{% elif field|is_textarea %}
  {% include 'bulma/fields/textarea.html' %}
{% elif field|is_select %}
  {% include 'bulma/fields/select.html' %}
{% elif field|is_file %}
  {% include 'bulma/fields/file.html' %}
{% else %}
  {% include 'bulma/fields/field.html' %}
{% endif %}
