<div class="field">
  <div class="control {{ classes.single_value }}">
    {% if not hide_label and field.auto_id and field.label %}
      <label
          class="checkbox {{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}">
        {{ field }} {{ field.label }}
      </label>
    {% endif %}
    {% for error in field.errors %}
      <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}

    {% if field.help_text %}
      <p class="help">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
</div>
