{% load bulma_tags %}

<div class="field">
  {% if not hide_label and field.auto_id and field.label %}
    <label class="label {{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}"
           for="{{ field.auto_id }}">{{ field.label }}</label>
  {% endif %}

  <div class="control {{ classes.value }} {% if field|is_multiple_checkbox %}multiple-checkbox{% endif %}">
    {{ field }}

    {% for error in field.errors %}
      <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}

    {% if field.help_text %}
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    {% endif %}
  </div>
</div>
